# Server
HOST=0.0.0.0
PORT=1337

# Secrets Strapi
APP_KEYS=cambia-esto-1,cambia-esto-2,cambia-esto-3,cambia-esto-4
API_TOKEN_SALT=cambia-esto
ADMIN_JWT_SECRET=cambia-esto
JWT_SECRET=cambia-esto
TRANSFER_TOKEN_SALT=cambia-esto

# SQLite (desarrollo local)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

# MySQL (Banahosting / producción)
# DATABASE_CLIENT=mysql
# DATABASE_HOST=localhost
# DATABASE_PORT=3306
# DATABASE_NAME=rqzyijcx_INGPRO
# DATABASE_USERNAME=tu_usuario
# DATABASE_PASSWORD=tu_password
# DATABASE_SSL=false

ENV=local
